/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "font-awesome";
@import "owl.carousel";
@import "owl.theme.green";
@import "pagination";

.img-class{
  width: 520px;
  height:400px;
  padding: 20px 10px;
}

.btn-xs, .btn-group-xs > .btn {
  padding: 0.2rem 0.5rem;
  font-size: 0.700rem;
  line-height: 1.0;
  border-radius: 0.2rem;
}

ul {
  list-style: none;
}

.font-img{
  color: #F7F7F7;
  font-size: 18px;
  padding-top: 20px;
  padding-left: 3px;
}
.common_table{
  overflow-y: scroll;
  width: 500px;
  height: 190px;

}
.common_table div{
  display:table-row;

}
.common_table div div{
  display:table-cell;

}

.div-post{
  overflow-y: scroll;
  width: 520px;
  height: 100px;
}
.margin-btn{
  margin: 10px;
}
.bordered {
  width: 450px;
  height: 70px;
  padding: 20px;
  border: 1px solid #cccccc;
  border-radius: 8px;

}

.left-label{
  text-align: initial;
}

.div-login{
  margin: auto;
  border: 1px solid #cec5c5;
  padding: 30px

}

.previous_page{
  margin: 0 auto;
}

.next_page{
  margin: 0 auto;
}

/*
a[rel=prev] {
  padding: 0px 10px;
}

a[rel=next] {
  padding: 0px 10px;
}*/

.div-center{
  margin: auto;
}
.center{
  text-align: center;
}
.webkit-center{
  text-align: -webkit-center;
}

.navbar-custom {
  border-radius: 0px;
  z-index: 16;
  box-shadow: 0 2px 3px 0 rgba(0,0,0, .4);
}

.img_nav{
  width: 50px;
  height: 40px;
}

.img_nav_profile{
  width: 40px;
  height: 35px;
  border-radius: 50%;
}

.margin-index{
  margin-top: -8px;
  margin-left: 60px;
}

.none {
  display:none;
}

.no-underline{
  text-decoration: none;
}


.container{
  padding: 10px
}

.justify{
  text-align: justify;
}
.right{
  text-align: right;
}

.search{
  margin: auto;
  width: 50%;
}


.main-background{
  //background-image: url('/assets/fractal.jpg');
  background-size : cover;
}

.main-color{
  background-color: #F2F2F2;
  border-radius: 8px;
  webkit-box-shadow: #bdc3c7 0 5px 5px;
  box-shadow: #bdc3c7 0 5px 5px
}
.cover{
  background-size: cover;
  background-position: center;
}

.margin-name{
  margin: 5px;
}

/*
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}
*/
.btn-delete-post{
  text-align: right;
  padding: 8px;
}

.nav-bar-bg{
  background-color: black;
}

.border-hr{
  border-top: 2px solid #5cc0ff;
}

.scrollToTop{
  width:110px;
  height:130px;
  padding:10px;
  text-align:center;
  background: whiteSmoke;
  font-weight: bold;
  color: #444;
  text-decoration: none;
  position:fixed;
  top:450px;

  display:none;
  background: url('/assets/scroll.png') no-repeat 0px 20px;
}
.scrollToTop:hover{
  text-decoration:none;
}

.modal-style{
  background-color: #F2F2F2; 
  border-radius: 10px;padding: 25px 35px 20px 20px;
}

.card-padding{
  padding: 10px 10px 10px 10px;
  width: 286px;
  height: 234px;
}

.border-div-shadow{
  text-align: center; border: 1px solid #d6d6d6;
  box-shadow: 3px 3px 0px #bababa;
  border-radius: 3px;
}

.border-item{
  background-color: #2E2F30;
  border-radius: 5px;
}

.border-imagen-item{
  height: 60px;
  padding-top: 10px
}

.title-item{
  width: 100%;
  color: #fff;
}

.shadow-style{
  filter: drop-shadow(20px 10px 4px #666666);
}

.nav-shadow{
  box-shadow: 3px 3px 10px #bababa;
}

.username-span{
  color: darkgray;
  font-size: 16px;
}

.dropdown-margin{
  min-width: 0px !important;
}

.size-img{
  width: 720px;
  height: 400px;
}

.img-class-style{
  width: 410px;
  height: 280px;
  padding: 5px 5px 5px;
  border-radius: 8px;
}

.carousel-style{
  background-color: #2E2F30; text-align: center; border-radius: 10px;
}

.black-title{
  color: #111;
}

.notice-style{
  background-color: lightgreen;
  color: white;
  border-radius: 5px;
}